/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: none !important;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;
  background: #5fed83;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      z-index: 10;
      background: #5fed83;
    }

    a {
      text-decoration: none !important; // remove underline on links
      border-bottom: none !important; // remove any bottom border
      color: #ffffff !important; // default link color
      transition: none !important; // optional: remove hover transitions
    }

    .masthead__menu-item a,
    .site-title {
      color: #ffffff !important; // masthead font color
      border-bottom: none !important;
      text-decoration: none !important;
    }

    .masthead__menu-item a:hover,
    a:hover {
      color: #104c35 !important; // keep hover color same as normal
      border-bottom: none !important;
      text-decoration: none !important;
    }
  }
}

.site-logo img {
  max-height: 2rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}

.site-title,
.site-title span,
.masthead__menu-item a {
  color: #ffffff !important;
}

.site-title:hover,
.site-title.hover,
.masthead__menu-item a:hover,
.masthead__menu-item a.hover {
  color: #ffffff !important;
}

.site-title::after,
.masthead__menu-item a::after {
  display: none !important;
  content: none !important;
}
